<h2>Default Harvest Area List</h2>

<div>Display Harvest Area of the following plant:
	<select ng-model="Area_selection"
		ng-options="area.plant.name as area.plant.name for area in areas.areas | orderBy: 'plant.name' | unique:'plant'">
		<option value="" style="display: none;">-- Select a Plant --</option>
	</select><br> <br>
</div>
<div ng-repeat="area in areas.areas | filter:{plant:Area_selection} |orderBy:'plant.name'">
	<div>
		<b>Plant Name:</b> {{area.plant.name}} <br> <b>Hiking Name:</b>
		{{area.hiking.name}} <br> <b>Location:</b> Latitude
		{{area.location.latitude}}, Longitude {{area.location.longitude}} <br>
		<b>Resource Size:</b> {{area.size}} <br> <b>Disponibility:</b>
		{{area.disponibility.percent}} <br> <br> <br>
	</div>
</div>
