<h2>Default Harvest Area List</h2>

<p>
	Display Harvest Area of the following plant: <select
		ng-model="Area_selection">
		<option value="" style="display: none;">-- Select a Plant --</option>
		<option value="">All Plant</option>
		<option
			ng-repeat="area in areas.areas | orderBy: 'plant.name' | unique:'plant'"
			value="{{area.plant.name}}">{{area.plant.name}}</option>

	</select>
</p>
<p ng-repeat="area in areas.areas | filter:{plant:Area_selection} |orderBy:'plant.name'">
		<b>Plant Name:</b> {{area.plant.name}} <br> <b>Hiking Name:</b>
		{{area.hikingName}} <br> <b>Location:</b> Latitude
		{{area.location.latitude}}, Longitude {{area.location.longitude}} <br>
		<b>Resource Size:</b> {{area.sizeString}} <br> <b>Disponibility:</b>
		{{area.disponibility.percent}}
</p>
