<h2>{{title}}</h2>

<div ng-repeat="hiking in hikings.hikings">
	<b>Hiking Name:</b> {{hiking.name}} <br> <b>Plants available
		in this hiking:</b>
	<ul>
		<li
			ng-repeat="area in hiking.harvestAreas.areas | unique:'plant' | orderBy:'plant.name'">
			{{area.plant.name}} (<a href=""
				ng-click="switchDetail(area)" ng-init="area.detailText='Show Details'">{{area.detailText}}</a>)
		
			<p
				ng-repeat="plantArea in hiking.harvestAreas.areas | filter:{plant:area.plant.name}"
				ng-init="area.isDetail=false" ng-show="area.isDetail">
				<i ng-if="plantArea.harvestable"> This plant is currently harvestable
				</i>
				<i ng-if="!plantArea.harvestable"> This plant is currently NOT harvestable
				</i> <br>
				<b>Location:</b> Latitude {{plantArea.location.latitude}}, Longitude
				{{plantArea.location.longitude}} <br> <b>Resource Size:</b>
				{{plantArea.sizeString}} <br> <b>Disponibility:</b>
				{{plantArea.disponibility.percent}}
			</p>
		</li>
	</ul>
</div>
<div ng-hide="hikings.hikings.length">Sorry, No Hiking Found !</div>
